CREATOR_TOKEN=REPLACE_WITH_BOTFATHER_TOKEN
MANAGER_TOKEN=REPLACE_WITH_ANOTHER_BOTFATHER_TOKEN
OWNER_ID=REPLACE_WITH_YOUR_NUMERIC_ID
APP_SECRET=REPLACE_WITH_64_RANDOM_CHARACTERS
MYSQLHOST=${{MySQL.MYSQLHOST}}
MYSQLPORT=${{MySQL.MYSQLPORT}}
MYSQLUSER=${{MySQL.MYSQLUSER}}
MYSQLPASSWORD=${{MySQL.MYSQLPASSWORD}}
MYSQLDATABASE=${{MySQL.MYSQLDATABASE}}
BASE_URL=https://YOUR-DOMAIN.up.railway.app
DATA_DIR=/data
SUPPORT_USERNAME=YOUR_TELEGRAM_USERNAME
ANNOUNCEMENT_CHANNEL=YOUR_CHANNEL_WITHOUT_AT
SHOP_CHANNEL=YOUR_SHOP_CHANNEL_WITHOUT_AT
REVIEW_CHAT_ID=YOUR_NUMERIC_ID_OR_PRIVATE_GROUP_ID
LOG_CHAT_ID=YOUR_NUMERIC_ID
PUBLIC_CREATOR=false
ALLOWED_CREATORS=
REQUIRED_CHANNELS=
BOT_COST=500
ENABLE_REMOTE_PHP=false
JOB_TIMEOUT=900
